---
wg_server_path: /etc/wireguard
wg_server_private_ip: 192.168.254.1
wg_server_port: 51820
wg_server_privkey: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39626363643833383764373633623331383436303164643965383931646266373030366231373436
          3835353138653731623262633434333330613832353333610a653930376634656266353631626261
          65653037646561386363323861393861616430643566363632353531343964396238393033333435
          3261666635356564640a653235333634616539326665356236666437636635316430646437623435
          33653932366534343231366631623166393061363864363733306339373633363730393835366161
          6330313632623462633334666665373530633362343534333966
wg_server_pubkey: 5zxSzu6eGDBQHWkNaCsYndt3/EnEkjtG3arknCkBIFk=
wg_network: 192.168.254.0/24
wg_peers:
  - { name: d21, pubkey: ARx8erKDdTYukz+EhGUIuQeE93O2MForGRplJ4SsxxQ=, private_ip: 192.168.254.2 }

iptables_dest: 213.183.53.156
iptables_to_dest: "{{ wg_peers[0].private_ip }}"
iptables_forward_ports:
  - { dest: "{{ iptables_dest }}", port: "80", proto: "tcp", comment: "http", to_dest: "{{ iptables_to_dest }}" }
  - { dest: "{{ iptables_dest }}", port: "443", proto: "tcp", comment: "https", to_dest: "{{ iptables_to_dest }}" }
  - { dest: "{{ iptables_dest }}", port: "1194", proto: "udp", comment: "openvpn", to_dest: "{{ iptables_to_dest }}" }
